body{
  /*background-color: #0C0C0F;*/
  background-color: rgb(1,0,2);
  margin-left: 5%;
  /*margin-right: 5%;*/
  
}
.App {
  margin: 0;
}

.Row-Header {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Row-Header h1{
margin: 0;
font-style: normal;
text-transform: uppercase;
color:white;
font-size: 20px;
}
.Row-Header img{
  max-width: 15px;
  max-height: 15px;
  margin-right: 5px;
}
.Landing {
  /*object-fit: contain;*/
  display: flex;
  justify-content: space-between;
}
.Landing-Title{
  max-width:50%;
}
.Landing-Title h1{
  margin-top: 20%;
  min-width: 100%;
  font-size: 3.0vw;
  color: white;
}

.Landing-Title p{
  margin-top: 10%;
  color:rgb(95, 95, 95);
  font-size: 5px;
  font-size: 1.0vw;
}

.Landing-Title img{
  margin-top: 10%;
  width: 30%;
  min-width: 150px;
  min-height: auto;
}

.Landing-Face {
  display:flex;
  margin-right: 0px;
}
.Landing-Face video{
 width: 100%;
}

.Yellow-Button {
  width: 100px;
}

.bottom-buttons {
  margin-top: 20%;
  display: flex;
}

.buttons img{
  min-height: 20px;
  min-width: 25px;
  width: 40%;
  padding-right:20px ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


