body{
  /*background-color: #0C0C0F;*/
  background-color: #0C0C0F;
  
  /*margin-right: 5%;*/ 
}
.App {
  margin: 0;
}
.Row-Header {
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
}
.Row-Header h1{
margin: 0;
font-style: normal;
text-transform: uppercase;
color:white;
font-size: 20px;
}
.LogoImg{
  width: 10%;
}
.logos img{
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
  padding-left: 5px;
}
.Landing {
  padding-left: 5%;
  /*object-fit: contain;*/
  display: flex;
  /*justify-content: space-between;*/
  background-size:auto;
  background-size: cover;
  background-image: url(./assets/bg.png);
  height: auto;
}
.Landing-Title{
  max-width:50%;
  display: grid;
}
.Landing-Title h1{
  margin-top: 10%;
  min-width: 100%;
  font-size: 4.0vw;
  color: white;
}

.Landing-Title p{
  margin-top: 10%;
  color:rgb(95, 95, 95);
  font-size: 5px;
  font-size: 1.0vw;
}

.Landing-Title img{
  margin-top: 6%;
  width: 30%;
  min-width: 150px;
  min-height: auto;
  padding-bottom: 5%;
}
.Landing-Title video{
  width: 32.0vw;
 }
 .Yellow-Button {
  width: 100px;
  
}

/* Right part of the website */

.Landing-Face {
  position: absolute;
  display:grid;
  left: 50%;
  margin-top: 10%;
}
.Row {
  display: flex;
  margin-bottom: 10px;
}
.index-6-1{
  contain: content;
  background-color: #0C0C0F;
  margin-right: 10px;
  contain: content;
  border: 2px solid rgb(11,34,38);
  border-radius: 10%;
  width: 12.0vw;
  height: 12.0vw;
  
}
.index-6-1 img{
  position: absolute;
  padding-left: 5.2vw;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 5px;
}
.index-6-1 p{
  padding-top: 4.2vw;
  text-align: center;
  color:rgb(196, 252, 255);
  font-size: 1.0vw;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}
/*
.bottom-buttons {
  margin-top: 20%;
  display: flex;
}

.buttons img{
  min-height: 20px;
  min-width: 25px;
  width: 40%;
  padding-right:20px ;
}

width="300" height="185"
width="300" height="185"
width="300" height="185"
width="300" height="185"
width="300" height="185"
width="300" height="185"

*/

