.part-gpt {
    margin-top: 10%;
    background-color: rgb(1,0,2);
    min-height: 100px;
    display: flex;
    position: relative;
    justify-content:baseline;
    contain: content;
}

.buttons-left{
    display:grid;
    padding-bottom: 200px;
}
.buttons-left img{
    margin-top: 30%;
    min-height: 20px;
    min-width: 25px;
    width: 100%;
}

.input-area{
    margin-left: 4%;
    margin-top: 25px;
    max-height: 52px;
}
.input-area input{
    min-width: 500%;
    min-height: 3.50vw;
    border-color: rgb(1,241,255);
    background-color: rgb(11,34,38);
    color: rgb(1,241,255);
    font-size: 100%;
    
}
::placeholder{
    padding-left: 10px;
    color: rgb(1,241,255);
    font-size: 110%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.output-screen{
    background-color: rgb(24,24,27);
    border: 2px solid rgb(126,126,126);
    min-width: 502%;
    min-height: 400px;
    margin-top: 10%;
}

.youtube-videos {
   /* border: 2px solid rgb(126,126,126);*/
   width: 450px;
    position: absolute;
    right: 5%;
}

.rec.rec-arrow-up {
    visibility: hidden;
}
.rec.rec-arrow-down {
    visibility: hidden;
}
.rec.rec-dot {
    box-shadow: 0 0 1px 3px rgb(0, 189, 202);
    background-color: black;
}

@media screen and (max-width: 1700px) {   
    .input-area input{
        min-width: 400%;
    }   
    .output-screen{
        min-width: 402%;
    }
}
@media screen and (max-width: 1470px) {    
    .input-area input{
        min-width: 350%;       
    }   
    .output-screen{        
        min-width: 352%;
    }
}
@media screen and (max-width: 1370px) {    
    .input-area input{
        min-width: 300%;       
    }   
    .output-screen{        
        min-width: 302%;
    }
}